<h1><center>Universidade Federal de Minas Gerais</center></h1>
<h3><center>Departamento de Ciência da Computação</center></h3>
<h3><center>Introdução a Banco de Dados -  Trabalho Prático #1</center></h3>

# 1. Introdução

### 1.1. Contexto

Nesse trabalho prático utilizaremos o banco de dados representado pelo schema abaixo:

![Modelo_BD.png](https://github.com/claudiovaliense/ibd/blob/main/data/schema.png?raw=true)

### 1.2. Entrega



1.   Você deve completar esse notebook, executar todas as células e submetê-lo no **Minha UFMG**.
2.   Você pode entregar até o dia 23/01/2022 às 23:59.
3. O trabalho é individual e vale 15 pontos.

# 2. Preparação do Ambiente

In [2]:
# importando os packages necessários
import io
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

In [1]:
import wget

In [2]:
wget.download("https://raw.githubusercontent.com/GiovannaR/ibd/master/data/despesas_publicas_tp1.sql")

  0% [                                                                            ]      0 / 277046
  2% [..                                                                          ]   8192 / 277046
  5% [....                                                                        ]  16384 / 277046
  8% [......                                                                      ]  24576 / 277046
 11% [........                                                                    ]  32768 / 277046
 14% [...........                                                                 ]  40960 / 277046
 17% [.............                                                               ]  49152 / 277046
 20% [...............                                                             ]  57344 / 277046
 23% [.................                                                           ]  65536 / 277046
 26% [....................                                                        ]  73728 / 277046
 29% [......................                                                      ]  81920 / 277046
 32% [........................                                                    ]  90112 / 277046
 35% [..........................                                                  ]  98304 / 277046
 38% [.............................                                               ] 106496 / 277046
 41% [...............................                                             ] 114688 / 277046
 44% [.................................                                           ] 122880 / 277046
 47% [...................................                                         ] 131072 / 277046
 50% [......................................                                      ] 139264 / 277046
 53% [........................................                                    ] 147456 / 277046
 56% [..........................................                                  ] 155648 / 277046
 59% [............................................                                ] 163840 / 277046
 62% [...............................................                             ] 172032 / 277046
 65% [.................................................                           ] 180224 / 277046
 68% [...................................................                         ] 188416 / 277046
 70% [.....................................................                       ] 196608 / 277046
 73% [........................................................                    ] 204800 / 277046
 76% [..........................................................                  ] 212992 / 277046
 79% [............................................................                ] 221184 / 277046
 82% [..............................................................              ] 229376 / 277046
 85% [.................................................................           ] 237568 / 277046
 88% [...................................................................         ] 245760 / 277046
 91% [.....................................................................       ] 253952 / 277046
 94% [.......................................................................     ] 262144 / 277046
 97% [..........................................................................  ] 270336 / 277046
100% [............................................................................] 277046 / 277046

'despesas_publicas_tp1.sql'

In [3]:
# download do dump do banco de  dados:
!wget https://raw.githubusercontent.com/GiovannaR/ibd/master/data/despesas_publicas_tp1.sql

'wget' nÆo ‚ reconhecido como um comando interno
ou externo, um programa oper vel ou um arquivo em lotes.

### 2.1. Criação da conexão com o banco
* No momento da conexão, é informado o nome do arquivo onde será montado o banco de dados. No nosso caso, este arquivo não precisa ser pré-existente, porque iremos carregar as informações de um dump;
* Se este comando for executado com um arquivo que já existe e possui as mesmas tabelas que serão criadas, ocorrerá um erro no momento da execução do script mais à frente.

In [3]:
conn = sqlite3.connect('despesas.db')
cursor = conn.cursor()

### 2.2. Execução do script para inicializar e popular o banco de dados

* Criada a conexão, iremos utilizar o arquivo .sql disponibilizado para recuperar o schema e os dados do banco

In [3]:
f = io.open('despesas_publicas_tp1.sql', 'r', encoding='ISO-8859-1')
sql = f.read()
cursor.executescript(sql)

OperationalError: table [ORGAO] already exists

### 2.3. Realizando consultas no banco de dados

* Criada a conexão e realizada a carga dos dados no banco, pode ser executada qualquer consulta SQL;
* O SQLite3 permite que o retorno dos dados seja feito em vários formatos, entretanto, utilizaremos o retorno em um dataframe do Pandas.



**CONSULTA EXEMPLO:** todos os órgãos ordenados pela quantidade de orgãos subordinados de forma decrescente.

In [4]:
df = pd.read_sql_query("SELECT * FROM ORGAO ORDER BY QTD_ORGAOS_SUBORDINADOS DESC", conn)
df

,COD_ORGAO,NOME_ORGAO,QTD_ORGAOS_SUBORDINADOS
0,26000,Ministério da Educação,104
1,30000,Ministério da Justiça e Segurança Pública,6
2,22000,"Ministério da Agricultura, Pecuária e Abastec",5
3,24000,"Ministério da Ciência, Tecnologia, Inovações",4
4,52000,Ministério da Defesa,4
5,53000,Ministério da Integração Nacional,4
6,25000,Ministério da Fazenda,3
7,36000,Ministério da Saúde,3
8,20000,Presidência da República,2
9,39000,"Ministério dos Transportes, Portos e Aviação",2
10,44000,Ministério do Meio Ambiente,2
11,55000,Ministério do Desenvolvimento Social,2
12,35000,Ministério das Relações Exteriores,1
13,81000,Ministério dos Direitos Humanos,1

#3. Consultas

Expresse cada consulta abaixo utilizando SQL:

**1.** Retorne a quantidade de palavras em cada registro da coluna nome_orgao da tabela orgão.

In [7]:
q1 = pd.read_sql_query(
  "SELECT LENGTH(LTRIM(RTRIM(nome_orgao))) - LENGTH(REPLACE(LTRIM(RTRIM(nome_orgao)), ' ', '')) + 1 " + 
  "AS QUANTIDADE_PALAVRAS " +
  "FROM orgao"
, conn)

q1

    QUANTIDADE_PALAVRAS
0                     3
1                     6
2                     5
3                     3
4                     3
5                     6
6                     4
7                     3
8                     6
9                     4
10                    3
11                    4
12                    4
13                    4



```
# Isto está formatado como código
```

**2.** Dado a coluna nome_orgao, retorne a primeira posição que a string 'da' aparece da tabela orgão

In [5]:
q2 = pd.read_sql_query("SELECT INSTR(nome_orgao, 'da') FROM orgao", conn)

q2

    INSTR(nome_orgao, 'da')
0                        13
1                        12
2                        12
3                        12
4                        12
5                        12
6                        12
7                        12
8                         0
9                         0
10                       12
11                       12
12                        0
13                        0

**3.** Liste todos os nomes dos órgãos e o valor das despesas totais no ano de 2018 para os mesmos, ordenando de forma decrescente pelo valor.

In [6]:
q3 = pd.read_sql_query(
  "SELECT o.nome_orgao, sum(dp.valor_despesa) AS DESPESAS " + 
  "FROM orgao AS o, despesa_publica AS dp " + 
  "WHERE o.cod_orgao = dp.cod_orgao " +
  "AND dp.ano_despesa = 2018 " +
  "GROUP BY dp.cod_orgao " + 
  "ORDER BY despesas DESC", conn)
  
q3

                                       NOME_ORGAO   DESPESAS
0                            Ministério da Defesa  353376.70
1            Ministério do Desenvolvimento Social  278586.35
2   Ministério da Agricultura, Pecuária e Abastec   90836.51
3                          Ministério da Educação   64007.82
4                             Ministério da Saúde   50971.19
5                 Ministério dos Direitos Humanos       0.00
6               Ministério da Integração Nacional       0.00
7                     Ministério do Meio Ambiente       0.00
8   Ministério dos Transportes, Portos e Aviação        0.00
9              Ministério das Relações Exteriores       0.00
10      Ministério da Justiça e Segurança Pública       0.00
11                          Ministério da Fazenda       0.00
12  Ministério da Ciência, Tecnologia, Inovações        0.00
13                       Presidência da República       0.00

**4.** Liste o mês e ano, modalidade, programa de governo e valor de todas as despesas do órgão Ministério da Fazenda no primeiro semestre de 2018.

> Bloco com recuo

In [7]:
q4 = pd.read_sql_query(
  "SELECT dp.mes_despesa, dp.ano_despesa, dp.modalidade_despesa, pg.nome_programa_governo, dp.valor_despesa " + 
  "FROM orgao AS o, despesa_publica AS dp, programa_governo AS pg " + 
  "WHERE o.cod_orgao = dp.cod_orgao AND dp.cod_programa_governo = pg.cod_programa_governo " +
  "AND o.nome_orgao = 'Ministério da Fazenda' " +
  "AND mes_despesa <= 6"
  , conn)
  
q4

,MES_DESPESA,ANO_DESPESA,MODALIDADE_DESPESA,NOME_PROGRAMA_GOVERNO,VALOR_DESPESA
0,4,2018,Reserva de Contingência,GESTAO AEROPORTUARIA,0
1,1,2018,Reserva de Contingência,BRASIL SEM MISERIA,0
2,2,2018,Reserva de Contingência,BRASIL SEM MISERIA,0
3,3,2018,Reserva de Contingência,BRASIL SEM MISERIA,0
4,4,2018,Reserva de Contingência,BRASIL SEM MISERIA,0
5,5,2018,Reserva de Contingência,BRASIL SEM MISERIA,0
6,6,2018,Reserva de Contingência,BRASIL SEM MISERIA,0

**5.** Liste o código e nome dos programas de governo que possuíram os 3 maiores valores de despesas totais na função de educação durante o ano de 2018.

In [8]:
q5 = pd.read_sql_query(
  "SELECT pg.cod_programa_governo, pg.nome_programa_governo " + 
  "FROM programa_governo AS pg, despesa_publica AS dp, detalhamento_funcao AS df, funcao AS f " + 
  "WHERE pg.cod_programa_governo = dp.cod_programa_governo AND dp.cod_detalhamento = df.cod_detalhamento AND df.cod_funcao = f.cod_funcao " +
  "AND f.nome_funcao = 'Educação' " +
  "GROUP BY pg.cod_programa_governo " +
  "ORDER BY sum(dp.valor_despesa) DESC " +
  "LIMIT 3"
, conn)

q5

   COD_PROGRAMA_GOVERNO NOME_PROGRAMA_GOVERNO
0                    11                  ENEM
1                    14              PRONATEC
2                    35          MAIS MEDICOS

**6.** Transforme os caracteres em minúsculo e remova todos os termos 'da' na coluna nome_orgao da tabela orgão.

In [9]:
q6 = pd.read_sql_query(
  "SELECT LOWER(REPLACE(nome_orgao, ' da ', ' ')) AS nome_orgao " + 
  "FROM orgao" 
, conn)

# q6 = pd.read_sql_query(
#   "UPDATE orgao " +
#   "SET nome_orgao = LOWER(REPLACE(nome_orgao, ' da ', ' '))"
# , conn)

q6

                                       nome_orgao
0                           presidência república
1      ministério agricultura, pecuária e abastec
2      ministério ciência, tecnologia, inovações
3                              ministério fazenda
4                             ministério educação
5          ministério justiça e segurança pública
6              ministério das relações exteriores
7                                ministério saúde
8   ministério dos transportes, portos e aviação
9                     ministério do meio ambiente
10                              ministério defesa
11                 ministério integração nacional
12           ministério do desenvolvimento social
13                ministério dos direitos humanos

**7.** Liste os órgãos governamentais e a quantidade de programas de governo distintos envolvidos nas despesas públicas desses órgãos. Nesta consulta, desconsidere valores de despesa negativos ou iguais a zero no período.

In [10]:
q7 = pd.read_sql_query(
  "SELECT o.nome_orgao, COUNT(DISTINCT pg.cod_programa_governo) AS QUANTIDADE_PROGRAMAS " + 
  "FROM orgao AS o, programa_governo AS pg, despesa_publica AS dp " +
  "WHERE o.cod_orgao = dp.cod_orgao AND dp.cod_programa_governo = pg.cod_programa_governo " +
  "AND dp.valor_despesa > 0 " +
  "GROUP BY o.cod_orgao "
, conn)

q7

                                      NOME_ORGAO  QUANTIDADE_PROGRAMAS
0  Ministério da Agricultura, Pecuária e Abastec                     2
1                         Ministério da Educação                     4
2                            Ministério da Saúde                     2
3                           Ministério da Defesa                     2
4           Ministério do Desenvolvimento Social                     1

**8.** Liste os nomes das subfunções das despesas públicas envolvidas para cada programa de governo. Sua consulta deve retornar o nome do programa de governo, a subfunção da despesa, a quantidade de entradas de despesas públicas e o valor total dessas despesas.

In [11]:
q8 = pd.read_sql_query(
  "SELECT pg.nome_programa_governo, sf.nome_subfuncao, COUNT(dp.cod_despesa) AS QT_DESPESAS_PUBLICAS, SUM(dp.valor_despesa) AS TOTAL_DESPESAS " + 
  "FROM subfuncao AS sf, despesa_publica AS dp, programa_governo AS pg, detalhamento_funcao AS df "
  "WHERE pg.cod_programa_governo = dp.cod_programa_governo AND dp.cod_detalhamento = df.cod_detalhamento AND df.cod_subfuncao = sf.cod_subfuncao " +
  "GROUP BY pg.cod_programa_governo"
, conn)

q8

,NOME_PROGRAMA_GOVERNO,NOME_SUBFUNCAO,QT_DESPESAS_PUBLICAS,TOTAL_DESPESAS
0,VIVER SEM LIMITE,Normatização e fiscalização,150,0.00
1,SOS EMERGENCIA,Assistência hospitalar e ambulatorial,3,0.00
2,MELHOR EM CASA,Atenção básica,16,0.00
3,UBS,Atenção básica,9,0.00
4,"UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...",Assistência hospitalar e ambulatorial,12,0.00
5,REDE CEGONHA,Assistência hospitalar e ambulatorial,38,1210.00
6,CONTROLE DO CANCER,Assistência hospitalar e ambulatorial,40,38971.19
7,CIENCIA SEM FRONTEIRAS,Ensino superior,24,0.00
8,CRIMINALIDADE VIOLENTA,Policiamento,1,0.00
9,ENEM,Educação básica,53,334262.06
10,PROVA BRASIL,Educação básica,22,0.00
11,PRONATEC,Ensino profissional,33,60262.46
12,GESTAO AEROPORTUARIA,Administração geral,18,0.00
13,DESASTRES NATURAIS,Defesa civil,10,0.00
14,CADEIAS PUBLICAS,Custódia e reintegração social,9,0.00
15,OLIMPIADAS,Defesa terrestre,13,0.00
16,SINESP,Policiamento,9,0.00
17,TERRITORIOS DA CIDADANIA,Extensão rural,14,0.00
18,"CRACK, E POSSIVEL VENCER",Comunicação social,92,0.00
19,BRASIL SEM MISERIA,Tecnologia da informação,381,387175.60
20,REGULARIZACAO FUNDIARIA,Normatização e fiscalização,42,1497.26
21,SATELITE (TELEBRAS),Desenvolvimento tecnológico e engenharia,7,0.00
22,ENAFRON,Policiamento,14,0.00
23,VIOLENCIA NO TRANSITO,Policiamento,15,0.00
24,SEGURO RURAL PRIVADO,Promoção da produção agropecuária,10,0.00
25,PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...,Atenção básica,2,0.00
26,MAIS MEDICOS,Administração geral,90,14400.00

**9.** Liste todas as despesas públicas (código da despesa, mês e ano da despesa, modalidade, valor) em que o órgão responsável é aquele que possui o maior número de órgãos subordinados.

In [12]:
q9 = pd.read_sql_query(
  "SELECT dp.cod_orgao, dp.cod_despesa, dp.mes_despesa, dp.ano_despesa, dp.modalidade_despesa, dp.valor_despesa " +
  "FROM despesa_publica AS dp " +
  "WHERE dp.cod_orgao = " +
  "(" +
    "SELECT o.cod_orgao " +
    "FROM orgao AS o " +
    "ORDER BY o.qtd_orgaos_subordinados DESC " +
    "LIMIT 1" +
  ")"
, conn)

q9

,COD_ORGAO,COD_DESPESA,MES_DESPESA,ANO_DESPESA,MODALIDADE_DESPESA,VALOR_DESPESA
0,26000,196,10,2018,Reserva de Contingência,0.0
1,26000,197,1,2018,Reserva de Contingência,0.0
2,26000,198,2,2018,Reserva de Contingência,0.0
3,26000,199,3,2018,Reserva de Contingência,0.0
4,26000,200,4,2018,Reserva de Contingência,0.0
...,...,...,...,...,...,...
289,26000,485,8,2018,Reserva de Contingência,2400.0
290,26000,486,9,2018,Reserva de Contingência,0.0
291,26000,487,10,2018,Reserva de Contingência,0.0
292,26000,488,11,2018,Reserva de Contingência,0.0
293,26000,489,12,2018,Reserva de Contingência,0.0

**10.** Liste todas as despesas públicas (código da despesa, mês e ano da despesa, modalidade, valor) em que o órgão responsável é aquele que possui o maior valor total em despesas durante o ano de 2018.

In [13]:
q10 = pd.read_sql_query(
  "SELECT dp.cod_despesa, dp.mes_despesa, dp.ano_despesa, dp.modalidade_despesa, dp.valor_despesa " +
  "FROM despesa_publica AS dp " +
  "WHERE dp.cod_orgao = "+
  "(" +
    "SELECT o.cod_orgao " + 
    "FROM orgao AS o, despesa_publica AS dp " + 
    "WHERE o.cod_orgao = dp.cod_orgao AND dp.ano_despesa = 2018 " +
    "GROUP BY o.cod_orgao " +
    "ORDER BY (SUM(dp.valor_despesa)) DESC " + 
    "LIMIT 1" +
  ")"
, conn)
q10

,COD_DESPESA,MES_DESPESA,ANO_DESPESA,MODALIDADE_DESPESA,VALOR_DESPESA
0,827,1,2018,Reserva de Contingência,0.0
1,828,2,2018,Reserva de Contingência,0.0
2,829,3,2018,Reserva de Contingência,0.0
3,830,4,2018,Reserva de Contingência,0.0
4,831,5,2018,Reserva de Contingência,0.0
5,832,6,2018,Reserva de Contingência,0.0
6,833,7,2018,Reserva de Contingência,0.0
7,834,8,2018,Reserva de Contingência,0.0
8,835,9,2018,Reserva de Contingência,334126.7
9,836,10,2018,Reserva de Contingência,0.0
10,837,11,2018,Reserva de Contingência,0.0
11,838,12,2018,Reserva de Contingência,0.0
12,839,12,2018,Transferências a Instituições Privadas sem Fin...,0.0
13,840,1,2018,Reserva de Contingência,0.0
14,841,2,2018,Reserva de Contingência,0.0
15,842,3,2018,Reserva de Contingência,0.0
16,843,4,2018,Reserva de Contingência,0.0
17,844,5,2018,Reserva de Contingência,0.0
18,845,6,2018,Reserva de Contingência,0.0
19,846,8,2018,Reserva de Contingência,0.0
20,847,12,2018,Reserva de Contingência,0.0
21,848,1,2018,Reserva de Contingência,0.0
22,849,1,2018,Reserva de Contingência,0.0
23,850,2,2018,Reserva de Contingência,0.0
24,851,3,2018,Reserva de Contingência,0.0
25,852,4,2018,Reserva de Contingência,0.0
26,853,5,2018,Reserva de Contingência,0.0
27,854,6,2018,Reserva de Contingência,0.0
28,855,7,2018,Reserva de Contingência,0.0
29,856,8,2018,Reserva de Contingência,0.0
30,857,9,2018,Reserva de Contingência,0.0
31,858,10,2018,Reserva de Contingência,19250.0
32,859,11,2018,Reserva de Contingência,0.0
33,860,12,2018,Reserva de Contingência,0.0
34,861,1,2018,Reserva de Contingência,0.0
35,862,2,2018,Reserva de Contingência,0.0
36,863,3,2018,Reserva de Contingência,0.0
37,864,4,2018,Reserva de Contingência,0.0
38,865,5,2018,Reserva de Contingência,0.0
39,866,6,2018,Reserva de Contingência,0.0
40,867,7,2018,Reserva de Contingência,0.0
41,868,8,2018,Reserva de Contingência,0.0
42,869,9,2018,Reserva de Contingência,0.0
43,870,10,2018,Reserva de Contingência,0.0
44,871,11,2018,Reserva de Contingência,0.0
45,872,12,2018,Reserva de Contingência,0.0
46,873,3,2018,Reserva de Contingência,0.0
47,874,4,2018,Reserva de Contingência,0.0
48,875,5,2018,Reserva de Contingência,0.0
49,876,6,2018,Reserva de Contingência,0.0
50,877,7,2018,Reserva de Contingência,0.0
51,878,8,2018,Reserva de Contingência,0.0
52,879,9,2018,Reserva de Contingência,0.0
53,880,10,2018,Reserva de Contingência,0.0
54,881,11,2018,Reserva de Contingência,0.0
55,882,12,2018,Reserva de Contingência,0.0

**11.** Liste os códigos e nomes dos programas de governo relacionados ao órgão (ou órgãos, caso haja empate) que teve menos registros de despesas públicas durante o ano.

In [16]:

q11 = pd.read_sql_query(
  "SELECT DISTINCT pg.cod_programa_governo, pg.nome_programa_governo " +
  "FROM despesa_publica AS dp, programa_governo as pg " +
  "WHERE dp.cod_programa_governo = pg.cod_programa_governo " +
  "AND dp.cod_orgao IN " +
  "(" +
    "SELECT o.cod_orgao " +
    "FROM orgao AS o, despesa_publica AS dp " +
    "WHERE o.cod_orgao = dp.cod_orgao " +
    "GROUP BY o.cod_orgao " +
    "HAVING COUNT(dp.cod_despesa) = " +
    "(" +
      "SELECT MIN(qtd_despesas) FROM " +
      "(" +
        "SELECT COUNT(dp.cod_despesa) AS qtd_despesas " +
        "FROM orgao AS o, despesa_publica AS dp " +
        "WHERE o.cod_orgao = dp.cod_orgao " +
        "GROUP BY o.cod_orgao" +
      ")" +
    ")" +
  ")"
, conn)

q11

   COD_PROGRAMA_GOVERNO NOME_PROGRAMA_GOVERNO
0                    19            OLIMPIADAS
1                    24    BRASIL SEM MISERIA

**12.**  Álgebra relacional: projeção do NOME_FUNCAO e NOME_SUBFUNCAO da junção natural das tabelas FUNCAO, DETALHAMENTO_FUNCAO e SUBFUNCAO

In [17]:
"""
A <- DETALHAMENTO_FUNCAO ⋈ FUNCAO
B <- A ⋈ SUBFUNCAO
RESULT <- Πnome_funcao,nome_subfuncao(B)
"""


q12 = pd.read_sql_query(
  "SELECT DISTINCT f.nome_funcao, sb.nome_subfuncao " +
  "FROM detalhamento_funcao " +
  "NATURAL JOIN funcao AS f " +
  "NATURAL JOIN subfuncao AS sb"
, conn)

q12

              NOME_FUNCAO                                    NOME_SUBFUNCAO
0     Essencial à justiça                                Comunicação social
1         Defesa nacional                               Administração geral
2         Defesa nacional                                  Defesa terrestre
3       Segurança pública                               Administração geral
4       Segurança pública                                      Policiamento
5       Segurança pública                                      Defesa civil
6       Segurança pública                         Informação e inteligência
7      Assistência social                       Normatização e fiscalização
8      Assistência social                          Tecnologia da informação
9      Assistência social                                Comunicação social
10     Assistência social                           Assistência comunitária
11     Assistência social                            Alimentação e nutrição
12     Assistência social                                 Educação infantil
13     Assistência social                           Saneamento básico rural
14                  Saúde                      Formação de recursos humanos
15                  Saúde                                    Atenção básica
16                  Saúde             Assistência hospitalar e ambulatorial
17               Trabalho                               Fomento ao trabalho
18               Educação             Assistência hospitalar e ambulatorial
19               Educação                               Ensino profissional
20               Educação                                   Ensino superior
21               Educação                                   Educação básica
22               Educação             Transferências para a educação básica
23  Direitos da cidadania            Assistência ao portador de deficiência
24  Direitos da cidadania                    Custódia e reintegração social
25  Direitos da cidadania         Direitos individuais, coletivos e difusos
26              Urbanismo                           Assistência comunitária
27       Gestão ambiental               Preservação e conservação ambiental
28       Gestão ambiental                                 Recursos hídricos
29   Ciência e Tecnologia                        Desenvolvimento científico
30   Ciência e Tecnologia          Desenvolvimento tecnológico e engenharia
31            Agricultura  Difusão do conhecimento científico e tecnológico
32            Agricultura                 Promoção da produção agropecuária
33    Organização agrária                       Normatização e fiscalização
34    Organização agrária                           Ordenamento territorial
35    Organização agrária                                    Extensão rural
36    Organização agrária                                   Reforma agrária
37              Indústria                                Promoção comercial
38             Transporte                               Administração geral
39     Encargos especiais                         Outros encargos especiais

**13.**  Álgebra relacional: projeção de MODALIDADE_DESPESA, VALOR_DESPESA e NOME_PROGRAMA_GOVERNO da junção natural das tabelas PROGRAMA_GOVERNO e DESPESA_PUBLICA onde a MODALIDADE_DESPESA = 'Reserva de Contingência'

In [18]:
"""
A <- σmodalidade_despesa='Reserva de Contingência'(DESPESA_PUBLICA)
B <- A ⋈ PROGRAMA_GOVERNO
RESULT <- Πmodalidade_despesa,valor_despesa,nome_programa_governo(B)
"""

q13 = pd.read_sql_query(
  "SELECT DISTINCT dp.modalidade_despesa, dp.valor_despesa, pg.nome_programa_governo " +
  "FROM despesa_publica AS dp " +
  "NATURAL JOIN programa_governo AS pg " +
  "WHERE dp.modalidade_despesa = 'Reserva de Contingência'"
, conn)

q13

,MODALIDADE_DESPESA,VALOR_DESPESA,NOME_PROGRAMA_GOVERNO
0,Reserva de Contingência,0.00,BRASIL SEM MISERIA
1,Reserva de Contingência,0.00,VIOLENCIA NO TRANSITO
2,Reserva de Contingência,0.00,TERRITORIOS DA CIDADANIA
3,Reserva de Contingência,8215.70,BRASIL SEM MISERIA
4,Reserva de Contingência,3.42,BRASIL SEM MISERIA
5,Reserva de Contingência,81120.13,BRASIL SEM MISERIA
6,Reserva de Contingência,0.00,REGULARIZACAO FUNDIARIA
7,Reserva de Contingência,1497.26,REGULARIZACAO FUNDIARIA
8,Reserva de Contingência,0.00,SEGURO RURAL PRIVADO
9,Reserva de Contingência,0.00,VIVER SEM LIMITE
10,Reserva de Contingência,0.00,CIENCIA SEM FRONTEIRAS
11,Reserva de Contingência,0.00,GESTAO AEROPORTUARIA
12,Reserva de Contingência,0.00,DESASTRES NATURAIS
13,Reserva de Contingência,0.00,SATELITE (TELEBRAS)
14,Reserva de Contingência,0.00,MELHOR EM CASA
15,Reserva de Contingência,1210.00,REDE CEGONHA
16,Reserva de Contingência,0.00,REDE CEGONHA
17,Reserva de Contingência,0.00,CONTROLE DO CANCER
18,Reserva de Contingência,0.00,ENEM
19,Reserva de Contingência,135.36,ENEM
20,Reserva de Contingência,0.00,PROVA BRASIL
21,Reserva de Contingência,2000.00,PRONATEC
22,Reserva de Contingência,0.00,PRONATEC
23,Reserva de Contingência,18178.00,PRONATEC
24,Reserva de Contingência,28073.08,PRONATEC
25,Reserva de Contingência,385.38,PRONATEC
26,Reserva de Contingência,5900.00,PRONATEC
27,Reserva de Contingência,0.00,CADEIAS PUBLICAS
28,Reserva de Contingência,0.00,"CRACK, E POSSIVEL VENCER"
29,Reserva de Contingência,0.00,MAIS MEDICOS
30,Reserva de Contingência,2400.00,MAIS MEDICOS
31,Reserva de Contingência,0.00,CRIMINALIDADE VIOLENTA
32,Reserva de Contingência,0.00,OLIMPIADAS
33,Reserva de Contingência,0.00,SINESP
34,Reserva de Contingência,0.00,ENAFRON
35,Reserva de Contingência,0.00,"UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL..."
36,Reserva de Contingência,38971.19,CONTROLE DO CANCER
37,Reserva de Contingência,11000.00,MAIS MEDICOS
38,Reserva de Contingência,1000.00,MAIS MEDICOS
39,Reserva de Contingência,334126.70,ENEM
40,Reserva de Contingência,19250.00,BRASIL SEM MISERIA
41,Reserva de Contingência,58918.28,BRASIL SEM MISERIA

**14.**  Álgebra relacional: projeção de VALOR_DESPESA e NOME_ORGAO da junção natural das tabelas DESPESA_PUBLICA e ORGAO onde o NOME_ORGAO = 'Ministério da Fazenda'

In [19]:
"""
A <- σnome_orgao='Ministério da Fazenda'(ORGAO)
B <- A ⋈ DESPESA_PUBLICA
RESULT <- Πvalor_despesa,nome_orgao(B)
"""

q14 = pd.read_sql_query(
  "SELECT DISTINCT dp.valor_despesa, o.nome_orgao " +
  "FROM orgao AS o " +
  "NATURAL JOIN despesa_publica AS dp " +
  "WHERE o.nome_orgao = 'Ministério da Fazenda'"
, conn)

q14

   VALOR_DESPESA             NOME_ORGAO
0              0  Ministério da Fazenda

**15.**  Álgebra relacional: projeção de NOME_PROGRAMA_GOVERNO e VALOR_DESPESA da junção natural das tabelas DESPESA_PUBLICA, PROGRAMA_GOVERNO e ORGAO onde o NOME_ORGAO = 'Ministério da Saúde'

In [20]:
"""
A <- σnome_orgao='Ministério da Saúde'(ORGAO)
B <- A ⋈ DESPESA_PUBLICA
C <- B ⋈ PROGRAMA_GOVERNO
RESULT <- Πnome_programa_governo,valor_despesa(C)
"""
q15 = pd.read_sql_query(
  "SELECT DISTINCT pg.nome_programa_governo, dp.valor_despesa " +
  "FROM orgao AS o " +
  "NATURAL JOIN despesa_publica AS dp " +
  "NATURAL JOIN programa_governo AS pg " +
  "WHERE o.nome_orgao = 'Ministério da Saúde'"
, conn)

q15

                                NOME_PROGRAMA_GOVERNO  VALOR_DESPESA
0                                    VIVER SEM LIMITE           0.00
1                                      SOS EMERGENCIA           0.00
2                                      MELHOR EM CASA           0.00
3                                                 UBS           0.00
4   UPA (INVESTIMENTO, CUSTEIO E COMPLEXO DE REGUL...           0.00
5                                        REDE CEGONHA           0.00
6                                  CONTROLE DO CANCER           0.00
7                                  CONTROLE DO CANCER       38971.19
8                            CRACK, E POSSIVEL VENCER           0.00
9                                  BRASIL SEM MISERIA           0.00
10  PROGRAMA NACIONAL DE MELHORIA DE ACESSO E QUAL...           0.00
11                                       MAIS MEDICOS           0.00
12                                       MAIS MEDICOS       11000.00
13                                       MAIS MEDICOS        1000.00

# 4. Fechamento da conexão com o banco

* Após serem realizadas todas as consultas necessárias, é aconselhavel encerrar formalmente a conexão com o banco de dados

In [ ]:
conn.close()